* {
    box-sizing: border-box;
}
body {
    background-color: grey;
}
.grid-container {
    width: 550px;
    height: 600px;
    margin: auto;
    border: 1px grey solid;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 32px;
    padding: 15px;
}

.cards {
    background-color: peachpuff;
    border: 1px solid black;
}
.add {
    padding: 0;
    margin: 0;
}

.container {
    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px/40px 40px 40px 40px 40px;
    grid-template-areas: 
    "living-room living-room living-room living-room living-room "
    "living-room living-room living-room living-room living-room "
    "bedroom bedroom bathroom kitchen kitchen"
    "bedroom bedroom bathroom kitchen kitchen"
    "closet closet . . . ";
}

.item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}

.first-row {
    background-color: pink;
}

.last-column {
    background-color: lightblue;
}

.room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-area: living-room;
}

#kitchen {
    grid-area: kitchen;
}

#bedroom {
    grid-area: bedroom;
}

#bathroom {
    grid-area: bathroom;
}

#closet {
    grid-area: closet;
}